# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Robot Framework results
./Results/
./Results
output.xml
log.html
report.html
*.png
*.log

.png
.log

# Virtual environment
venv/
.env/

# IDE files
.vscode/
.idea/
*.iml
